@using WebApplicationList.Models.ViewModels;
@model IEnumerable<ProfileUserViewModel>;

@foreach (var item in Model)
{
    <div class="user-profile-block">
        <a class="" href="#">
            <div class="user-profile-avatar">
                <object>
                    <a href="~/Profile?userName=@item.UserName">
                        <img src="~/@item.LinkAvatar" alt="img" width="80" height="80">
                    </a>
                </object>
                @if(string.IsNullOrEmpty(item.Surname)){
                <div class="user-name">@item.UserName</div>
                }
                else{
                <div class="user-name">@item.Surname</div>
                }
                @if(string.IsNullOrEmpty(item.Profession)){
                <div class="profession">Проффессия не указана</div>
                }
                else{
                <div class="profession">@item.Profession</div>
                }
            </div>
        </a>
        <ul class="user-profile-info">
            <li>
                <div>@item.countLikes!.Sum()</div>
                <span>Оценки</span>
            </li>
            <li>
                <div>@item.countSubscriber</div>
                <span>Подписчики</span>
            </li>
            <li>
                <div>@item.countProjects</div>
                <span>Проекты</span>
            </li>
        </ul>
        @if(User.Identity!.IsAuthenticated){
            @if(item.signed){
            <button class="subscribe-button disabled-button" value="@item.UserName">
                <div>Подписано</div>
            </button>
        }
        else{
            <button class="subscribe-button" value="@item.UserName">
                <div>Подпиcаться</div>
            </button>
        }
        }    
    </div>
}