@using WebApplicationList.Models.MainSiteModels.ViewModels;
@model ProfileUserViewModel
@{
    ViewData["Title"] = "Настройки";
}

@section link{
    <link rel="stylesheet" type="text/css" href="~/MainWeb/css/ProfilePage/profilestyle.css">
    <link rel="stylesheet" type="text/css" href="~/MainWeb/icons-2/style.css">
    <link rel="stylesheet" type="text/css" href="~/MainWeb/css/ProjectSetting/projectUpload.css">
    <link rel="stylesheet" type="text/css" href="~/MainWeb/css/ProjectSetting/projectSettingsStyle.css">
    <link rel="stylesheet" type="text/css" href="~/MainWeb/css/ProfilePage/profilesettings.css">
    <link rel="stylesheet" href="~/iconExplorer/style.css">
}

<section>  
    <div class="container">
        <div class="profile-panel">
            <div class="avatar-profile-block">
                <div>
                    <img src="@Model.userInfo!.user!.LinkAvatar" alt="avatar" asp-append-version="true" class="avatar-image">
                    <input type="file" id="change-avatar-input">
                    <label for="change-avatar-input" id="change-avatar"><i class="icon-pencil-svgrepo-com"></i></label>
                </div>
                <div>
                    @{
                        if(string.IsNullOrEmpty(Model.userInfo!.Surname))
                        {
                            <div class="profile-user-name">@Model.userInfo!.user.UserName</div>
                        }
                        else
                        {
                            <div class="profile-user-name">@Model.userInfo.Surname</div>
                        }
                    }
                    <span class="profile-email-user">@Model.userInfo!.user!.Email</span>
                    <ul class="info-user-panel">
                        <li class="followers-count">
                            <span>Подписчики</span>
                            0
                        </li>
                        <li class="followers-count">
                            <span>Оценки</span>
                           @Model.countLikes
                        </li>
                        <li class="followers-count">
                            <span>Подписки</span>
                            0
                        </li>
                        <li class="followers-count">
                            <span>Просмотры проектов</span>
                            @Model.countViews
                        </li>
                    </ul>

                    @if(!string.IsNullOrEmpty(Model.userInfo!.Description))
                    {                  
                        string descriptionHeader = "Описание";
                        
                        if(!string.IsNullOrEmpty(Model.userInfo.HeaderDescription))
                        {
                            descriptionHeader = Model.userInfo.HeaderDescription;
                        } 
                    
                        <div class="user-description-panel">
                            <div class="user-head-description">@descriptionHeader</div>
                            <div class="user-description">@Model.userInfo.Description</div>
                        </div>
                    }

                    @if(Model.linksProfile!.Count()>0)
                    {
                        <div class="profile-links-block">
                            <div class="header-profile-links">В Интернете:</div>
                            <ul class="profile-links">
                                @foreach(var item in Model.linksProfile!){
                                    if(!string.IsNullOrWhiteSpace(item.Link))
                                    {
                                        <li>
                                            <a class="profile-links-item" href="@item.Link" target="_blank">
                                                <img src="~/MainWeb/MessengersIcons/@(item.LinkType!.Name).png" width="35" height="35">
                                            </a>
                                        </li>
                                    }
                                }
                                
                            </ul>
                        </div>
                    }

                    <div class="data-registration">Дата регистрации @Model.userInfo!.user!.DateRegistraition.ToShortDateString()</div>
                </div>
            </div>  
            <div class="profile-info-block">
                <div class="menu-profile">
                    <div @if(ViewBag.Page=="projects"||ViewBag.Page is null)
                        {
                            @:class="menu-profile-item_inner active-profile-item"
                        }
                        else
                        {
                           @:class="menu-profile-item_inner"
                        }>
                        <button data-count="@Model.countProjects" type="button" class="menu-profile-item project-count" id="projectbutton"><i class="icon-projexts"></i>Проекты</button>
                    </div>
                    <div class="menu-profile-item_inner">
                        <button type="button" class="menu-profile-item favorite-count" id="favoritesbutton"><i class="icon-heart"></i>Оценки</button>
                    </div>             
                    <div @if(ViewBag.Page=="settings")
                        {
                            @:class="menu-profile-item_inner active-profile-item"
                        }
                        else
                        {
                           @:class="menu-profile-item_inner"
                        }>
                        <button type="button" class="menu-profile-item" id="settingbutton"><i class="icon-setting"></i>Настройки</button>
                    </div>
                    <div @if(ViewBag.Page=="addproject")
                        {
                            @:class="menu-profile-item_inner active-profile-item"
                        }
                        else
                        {
                           @:class="menu-profile-item_inner"
                        }>
                        <button type="button" class="menu-profile-item" id="add-project"><i class="icon-html-doc"></i>Добавить проект</button>
                    </div>
                </div>
                

                <div class="projects-block-profile_inner" id="projects-block"
                    @if(ViewBag.Page=="projects"||ViewBag.Page is null){
                        @:style="transform:translateX(0%);position:relative;opacity:1;"
                    }
                    else{
                        @:style="transform:translateX(-100%);"
                    }>        
                </div>

                <div class="favorites-block-profile_inner" style="transform: translateX(-100%);">
        
                </div>
                <div class="settings-block-profile_inner" 
                    @if(ViewBag.Page=="settings")
                    {
                        @:style="transform: translateX(0%); position:relative;opacity:1;"
                    }
                    else{
                        @:style="transform:translateX(-100%);"
                    }>
                        <ul class="settings-elements">
                            <li class="setting-item">
                                <div class="header-setting-element">Основная  информация</div>
                                <div class="rename-name-surname-block">
                                    <div class="name-rename_inner">
                                        <label>Ник</label>
                                        <input type="text" id="surname-rename" value="@Model.userInfo!.Surname">
                                    </div>
                                </div>
                                <div class="rename-name-surname-block">
                                    <div class="name-rename_inner">
                                        <label>Год рождения</label>
                                        <input type="number" id="year-rename" value="@Model.userInfo!.Year">
                                    </div>
                                </div>
                                <div class="rename-name-surname-block">
                                    <div class="name-rename_inner">
                                        <label>Профессия</label>
                                        <input type="text" id="proffesion-rename" value="@Model.userInfo!.Profession">
                                    </div>
                                </div>
                            </li>
                            
                            <li class="setting-item">
                                <div class="header-setting-element">Смена пароля</div>
                                <div class="rename-name-surname-block">
                                    <div class="name-rename_inner">
                                        <label>Предыдущий пароль</label>
                                        <input type="password" id="previous-password-rename">
                                    </div>
                                </div>
                                <div class="rename-name-surname-block">
                                    <div class="name-rename_inner">
                                        <label>Новый пароль</label>
                                        <input type="password" id="new-password-rename">
                                    </div>
                                    <div class="name-rename_inner">
                                        <label>Подтвердить пароль</label>
                                        <input type="password" id="confirm-password-rename">
                                    </div>
                                </div>
                                <div class="rename-name-surname-block">
                                    <button class="blue-button" id="send-newPassword">Изменить пароль</button>
                                </div>
                                <ul class="password-message-errors">
                                    
                                </ul>
                            </li>
                            <li class="setting-item">
                                <div class="header-setting-element">Изменить описание профиля</div>
                                <div class="name-rename_inner">
                                    <label>Заголовок Описания</label>
                                    <input type="text" id="header-description-input" value="@Model.userInfo.HeaderDescription">
                                </div>
                                <div class="name-rename_inner description-panel">
                                    <label>Описание</label>
                                    <textarea id="description-content">@Model.userInfo.Description</textarea>
                                </div>
                            </li>
                            <li class="setting-item">
                                <div class="header-setting-element">В Интернете</div>
                                <ul class="links-blocks">
                                    @foreach(var item in Model.linkTypes!){
                                        <li class="links-item">
                                            <div>
                                                <img src="~/MainWeb/MessengersIcons/@(item.Name).png" width="30" height="30">
                                                <span>@item.Name</span>
                                            </div>
                                            <div class="bind-button-content">
                                                <button value="@item.Id" class="link-set">Связать</button>
                                            </div>
                                            <div class="send-link-block"></div>
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="add-project-block-profile_inner" @if(ViewBag.Page=="addproject")
                    {
                        @:style="transform: translateX(0%); position:relative;opacity:1;"
                    }
                    else{
                        @:style="transform:translateX(-100%);"
                    }>
                        <div class="unput-project-zip-block">
                            <div class="stages-header-project">Шаг 1/3 - Загрузка архива</div>
                            <div class="stage_inner-result">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>

<div class="modal-bind-link_inner">
    <div class="bind-link-block">
        <span>Оставьте поле пустым,чтобы удалить</span>
        <input type="text" placeholder="NewLink" id="bind-link-value">
        <div class="bind-link-save">
            <button class="blue-button blue-button-small" id="bind-link" value="">Сохранить</button>
            <button class="blue-button blue-button-small" id="bind-modal-close" >Закрыть</button>
        </div>
        
    </div>
</div>

<div class="modal-check-file" id="result-text-file">

</div>

@section Scripts{
    <script src="~/MainWeb/js/ProfilePage/profilescript.js" asp-append-version="true"></script>
    <script src="~/MainWeb/js/ProfilePage/projectscript.js" asp-append-version="true"></script>
    <script src="~/MainWeb/js/ProjectSettingScripts/projectSetting.js" asp-append-version="true"></script>
    <script src="~/MainWeb/js/ProfilePage/profileSettings.js" asp-append-version="true"></script>
    <script>
        @if(ViewBag.Page=="settings")
        {
            @:InitSettings();
        }
        @if(ViewBag.Page=="projects"||ViewBag.Page is null)
        {
            @:InitProject();
        }
        @if(ViewBag.Page=="addproject")
        {
            @:FirstStage();
        }
    </script>
}


