@using WebApplicationList.Models.ViewModels;
@using EncodingText;
@model ExplorerViewModel


<div class="folder-manager-window">

    <div class="header-manager">
        Файловый менеджер
        <button type="button" id="close-folder-manager">
            <span></span>
            <span></span>
        </button>
    </div>
@{
    var result = CustomEncoding.EncodeDecrypt(Model.ReturnPath!).Contains(Model.ProjectName!);
    
    if(!string.IsNullOrWhiteSpace(Model.ReturnPath))
    {
        if(result)
        {
            string path = Model.CurrentPath!;
            string shortPath = path!.Substring(path.IndexOf($"{Model.ProjectName}\\"));

            <button id="return-path-button" value="@Model.ReturnPath" class="folder-navigation-panel">
                <span class="icon-up-arrow-svgrepo-com"></span>
                <div class="return-path">@shortPath</div>
            </button>
        }
    }
    
}
    <ul class="manager-items">
    @foreach (var item in Model.Folders!)
    {
        <li class="explorer-item">
            <button id="folder-open" value="@item.Path" class="explorer-item-name-folder">
                <span class="icon-folder-svgrepo-com-2"></span>
                <div>@item.Name</div>
            </button>
        </li>
    }
    @foreach (var item in Model.Files!)
    {
        <li class="explorer-item">
            <button class="explorer-item-name-file" id="get-info-file" value="@item.Path">
                <span class="icon-file-svgrepo-com-3"></span>
                <div>@item.Name</div>
            </button>
            <div class="explorer-item-info">
                <div class="size-explorer-item">(@item.Size)</div>
            </div>
        </li>
        
    }
    </ul>
</div>